OPTIONS:="lastrule"
OPTIONS:="last_rule"

ATTRS{idVendor}=="0b4d", ATTRS{idProduct}=="112f", MODE="666", ENV{silhouette_cameo3}="yes", OPTIONS="last_rule"
ATTRS{idVendor}=="0b4d", ATTRS{idProduct}=="1121", MODE="666", ENV{silhouette_cameo}="yes"
ATTRS{idVendor}=="0b4d", ATTRS{idProduct}=="1123", MODE="666", ENV{silhouette_portrait}="yes"
ATTRS{idVendor}=="0b4d", ATTRS{idProduct}=="1132", MODE="666", ENV{silhouette_portrait2}="yes"
ATTRS{idVendor}=="0b4d", ATTRS{idProduct}=="111d", MODE="666", ENV{silhouette_sd_2}="yes"
ATTRS{idVendor}=="0b4d", ATTRS{idProduct}=="111c", MODE="666", ENV{silhouette_sd_1}="yes"
ATTRS{idVendor}=="0b4d", ATTRS{idProduct}=="110a", MODE="666", ENV{craftrobo_cc200_20}="yes"
ATTRS{idVendor}=="0b4d", ATTRS{idProduct}=="111a", MODE="666", ENV{craftrobo_cc300_20}="yes"

ENV{silhouette_cameo}=="yes",     RUN="/lib/udev/silhouette-udev-notify.sh", OPTIONS:="lastrule"
ENV{silhouette_portrait}=="yes",  RUN="/lib/udev/silhouette-udev-notify.sh"
ENV{silhouette_portrait2}=="yes", RUN="/lib/udev/silhouette-udev-notify.sh"
ENV{silhouette_sd_2}=="yes",      RUN="/lib/udev/silhouette-udev-notify.sh"
ENV{silhouette_sd_1}=="yes",      RUN="/lib/udev/silhouette-udev-notify.sh"
ENV{craftrobo_cc200_20}=="yes",   RUN="/lib/udev/silhouette-udev-notify.sh"
ENV{craftrobo_cc300_20}=="yes",   RUN="/lib/udev/silhouette-udev-notify.sh"
